.header {
  background-color: var(--white);
  padding-bottom: 16px;
}

.header__navigation {}

.navigation {}

.navigation__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.navigation__quote {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  color: var(--main);
}

.navigation__logo-link {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--main);
}

.navigation__author {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  color: var(--main);
}

.navigation__menu {
  border-radius: 24px;
  height: 48px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background-color: var(--bg);
}

.navigation__tags {
  display: flex;
}

.navigation__tag {
  border-radius: 20px;
  padding: 8px 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  transition: background-color 0.3s ease-in-out, color 0.15s ease-in-out;
}

.navigation__tag:hover {
  background-color: var(--main);
  color: var(--white);
}

.navigation__tag_active {
  background-color: var(--main);
  color: var(--white);
}

.navigation__search-bar {
  display: none;
}

.search-bar {
  position: relative;
  display: inline-block;
  margin: 4px;
  height: 36px;
}

.search-bar__text-input {
  width: 36px;
  height: 100%;
  padding-left: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  background-color: var(--white);
  border: none;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-bar__text-input[type="search"]::-webkit-search-decoration,
.search-bar__text-input[type="search"]::-webkit-search-cancel-button,
.search-bar__text-input[type="search"]::-webkit-search-results-button,
.search-bar__text-input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search-bar__text-input::placeholder {
  color: var(--main);
  opacity: 0.4;
}

.search-bar__text-input:disabled,
.search-bar__text-input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

.search-bar__text-input:focus, .search-bar__text-input:hover {
  width: 400px;
  padding-right: 36px;
  color: var(--main);
  outline: 0;
  box-shadow: 0 0 0 calc(36px / 10) rgba(158, 158, 158, 0.25);
}

.search-bar__label {}

.search-bar__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.search-bar__icon > rect {
  fill: var(--white);
}

.search-bar__icon > path {
  fill: var(--main);
  transition: all 0.15s ease-in-out;
}

.search-bar__icon:hover > path {
  fill: rgba(158, 158, 158, 1);
}

























